*.obj filter=lfs diff=lfs merge=lfs -text

*.meta -text mergetool=unityyamlmerge diff
*.unity -text mergetool=unityyamlmerge diff
*.asset -text mergetool=unityyamlmerge diff
*.prefab -text mergetool=unityyamlmerge diff